<h3>{{ text_databases }}</h3>
<table class="table table-striped table-bordered">
  <tbody>
    <tr>
      <td><b>{{ base_ip.getName() }}</b></td>
      <td>{{ base_ip.getStatus() }}</td>
      <td>
        {% for action in base_ip.getActions() %}
          <a class="btn {{ action.getCssClass() }} base-action" title="{{ action.getName() }}" data-action="{{ action.getActionId() }}"
            data-text="{{ action.getLoadingText() }}..." data-step="upload">
            <i class="fa fa-{{ action.getIcon() }}"></i>
          </a>
        {% endfor %}
      </td>
    </tr>
  </tbody>
</table>

<h4>{{ text_database_cities }}</h4>
<table class="table table-striped table-bordered">
  <tbody>
  {% for download_file in download_files %}
    <tr>
      <td><b>{{ download_file.getName() }}</b></td>
      <td>{{ download_file.getStatus() }}</td>
      <td>
        {% for action in download_file.getActions() %}
          <a class="btn {{ action.getCssClass() }} base-action" title="{{ action.getName() }}" data-action="{{ action.getActionId() }}"
             data-text="{{ action.getLoadingText() }}..." data-step="upload">
            <i class="fa fa-{{ action.getIcon() }}"></i>
          </a>
        {% endfor %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>