<div id="shipment-info" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i class="fa fa-taxi"></i>
            {{ delivery_details }}
        </h3>
    </div>
    <div class="panel-body">
        {% if shipment.claim_id is empty %}
            <p>{{ order_was_not_sent_to_yandex_go }}</p>
        {% else %}
            <table class="table table-shipment">
                <tbody>
                <tr>
                    <td>{{ yandex_go_claim_id }}</td>
                    <td id="shipping-claim-id">{{ shipment.claim_id | default('–') }}</td>
                </tr>
                <tr>
                    <td>{{ tariff }}</td>
                    <td id="shipping-tariff">{{ shipment.tariff | default('–') }}</td>
                </tr>
                <tr>
                    <td>{{ yandex_go_claim_status }}</td>
                    <td id="shipping-status">{{ shipment.status | default('–') }}</td>
                </tr>
                <tr>
                    <td>{{ yandex_go_route_point_status }}</td>
                    <td id="shipping-point-visit-status">{{ shipment.point_visit_status | default('–') }}</td>
                </tr>
                <tr>
                    <td>{{ driver_name }}</td>
                    <td id="shipping-driver">{{ shipment.driver_name | default('–') }}</td>
                </tr>
                <tr>
                    <td>{{ car }}</td>
                    <td id="shipping-car">{{ shipment.car | default('–') }}</td>
                </tr>
                <tr>
                    <td>{{ driver_phone_number }}</td>
                    <td id="shipping-driver-phone">{{ shipment.driver_phone | default('–') }}</td>
                </tr>
                <tr>
                    <td>{{ price }}</td>
                    <td id="shipping-driver-phone">{{ shipment.price | default('–') }}</td>
                </tr>
                </tbody>
            </table>
            <div class="text-right">
                <button type="button" id="button-sync-shipping-status" class="btn btn-primary"
                        data-loading-text="{{ text_loading }}">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    {{ update }}
                </button>
            </div>
        {% endif %}
    </div>
</div>
