{{ header }}{{ column_left }}
<div id="content">

	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
                {% if (total) %}
					<a href="{{ order }}" class="btn btn-default">{{ button_new_order }} <span class="label label-success">{{ total }}</span></a>
                {% endif %}
				<a href="{{ option }}" class="btn btn-primary">{{ button_option }}</a>
				<a href="{{ cancel }}" class="btn btn-default">{{ button_cancel }}</a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
					<li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="container-fluid">
        {% if (error_warning) %}
			<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>{{ error_warning }}<button type="button" class="close" data-dismiss="alert">&times;</button></div>
        {% endif %}
        {% if (success) %}
			<div class="alert alert-success"><i class="fa fa-exclamation-circle"></i>{{ success }}<button type="button" class="close" data-dismiss="alert">&times;</button></div>
        {% endif %}
        {% if (attention is defined) %}
			<div class="alert alert-warning"><i class="fa fa-exclamation-circle"></i>{{ attention }}</div>
        {% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ heading_title }}</h3>
			</div>
			<div class="panel-body">

				<h2 class="title_h2">Последние отгрузки</h2>
				<table class="table">
					<thead>
					<td class="left">№ на сайте</td>
					<td class="left">Номер отправления</td>
					<td class="left">Акта приема-передачи</td>
					<td class="left">Дата</td>
					<td class="left">Откуда</td>
					<td class="left">Куда</td>
					<td class="left">Статус</td>
					<td class="left">Стоимость доставки</td>
					<td class="right"></td>
					</thead>
					<tbody>
                    {% if (dispatches is not empty) %}
                        {% for dispatch_info in dispatches %}
							<tr>
								<td class="left">{{ dispatch_info['order_id'] }}</td>
								<td class="left">{{ dispatch_info['dispatch_number'] }}</td>
								<td class="left">
                                    {% if (dispatch_info['act_number']) %}
                                        {{ dispatch_info['act_number'] }}
                                    {% else %}
										<a class="js sync-row" href="{{ dispatch_info['sync'] }}">Синхронизовать</a>
                                    {% endif %}
								</td>
								<td class="left">{{ dispatch_info['date'] }}</td>
								<td class="left">{{ dispatch_info['city_name'] }}</td>
								<td class="left">{{ dispatch_info['recipient_city_name'] }}</td>
								<td class="left">{{ dispatch_info['status'] }}<span class="help">{{ dispatch_info['status_date'] }}</span></td>
								<td class="left">
                                    {% if (dispatch_info['cost']) %}
                                        {{ dispatch_info['cost'] }}
                                    {% else %}
										<a class="js sync-row" href="{{ dispatch_info['sync'] }}">Синхронизовать</a>
                                    {% endif %}
								</td>
								<td class="right action">
                                    {% for action in dispatch_info['action'] %}
										<a href="{{ action['href'] }}">{{ action['text'] }}</a>
                                    {% endfor %}
								</td>
							</tr>
                        {% endfor %}
						<tr>
							<td class="center" colspan="9"><a href="{{ dispatch_list }}">Смотреть все отгрузки</a></td>
						</tr>
                    {% else %}
						<tr>
							<td class="center" colspan="9">{{ text_no_results }}</td>
						</tr>
                    {% endif %}
					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>
<script type="text/javascript"><!--

    $('a.js.sync-row').on('click', function(event){

        event.preventDefault();

        ajaxSend(this, {
            callback: function(el, json){

                var context = $(el).closest('tr');

                if (json.status != 'error') {

                    $('td', context).animate({'background-color': '#000000'}, 'fast', function(){

                        $('td:eq(2)', context).html(json.act_number);
                        $('td:eq(7)', context).html(json.cost);

                        $('td', context).animate({'background-color': '#FFFFFF'}, 'fast');

                    });

                } else {
                    $('.box').before('<div class="warning">' + json.message + '</div>');
                }

            }
        });

    });

    //--></script>
{{ footer }}