<div class="heading dispatch-info">
	<h1><img src="view/image/order.png" alt="" /> {{ heading_title }}</h1>
	<div class="buttons">
		<a href="{{ sync }}" class="button sync">{{ button_sync }}</a>
		<a href="{{ cancel }}" class="button">{{ button_cancel }}</a>
		<nobr class="help sync">Последняя cинхронизация: <strong>{{ last_exchange }}</strong></nobr>
	</div>
</div>
<div class="content">
	<table class="form">
		<tbody>
		<tr>
			<td>Номер заказа</td>
			<td>
                {{ dispatch_info['order_id'] }}
			</td>
		</tr>
		<tr>
			<td>Квитанция</td>
			<td class="pdf-invoice">
				<div class="pdf-invoice-wrapper">
                    {% if (pdf is empty) %}
						<a href="{{ print }}" class="load">{{ button_print }}</a>
                    {% else %}
						<a href="{{ pdf }}" target="_blank">Смотреть</a><a href="{{ print }}" class="load" title="Загрузить повторно"><img src="view/image/cdek_integrator/reload.png" /></a>
                    {% endif %}
				</div>
			</td>
		</tr>
		<tr>
			<td>Дата отгрузки</td>
			<td>{{ date }}</td>
		</tr>
		<tr>
			<td>Номер отправления СДЭК</td>
			<td>{{ dispatch_info['number'] }}</td>
		</tr>
		<tr>
			<td>Номер акта приема-передачи</td>
			<td>
                {% if (dispatch_info['act_number']) %}
                    {{ dispatch_info['act_number'] }}
                {% else %}
					<a class="js sync-row">Синхронизовать</a>
                {% endif %}
			</td>
		</tr>
		<tr>
			<td>Тариф</td>
			<td>{{ tariff['title'] }}</td>
		</tr>
        {% if (dispatch_info['seller_name']) %}
			<tr>
				<td>Истинный продавец<span class="help">Используется при печати заказов для отображения настоящего продавца товара, либо торгового названия</span></td>
				<td>{{ dispatch_info['seller_name'] }}</td>
			</tr>
        {% endif %}
        {% if (delivery_recipient_cost is not empty) %}
			<tr>
				<td>Дополнительный сбор за доставку, который ИМ берет с получателя</td>
				<td>{{ delivery_recipient_cost }}</td>
			</tr>
        {% endif %}
		<tr>
			<td>Итого</td>
			<td>
                {% if (delivery_cost) %}
					<strong>{{ delivery_cost }}</strong>
                    {% if (delivery_last_change is not empty) %}
						<span class="help">
					{{ delivery_last_change }}
					</span>
                    {% endif %}
                {% else %}
					<a class="js sync-row">Синхронизовать</a>
                {% endif %}
			</td>
		</tr>
		<tr class="item-slider row-status">
			<td>Статус</td>
			<td>
				<strong>{{ status['title'] }}</strong>&nbsp;&nbsp;<a class="js" data-title="История изменений">История изменений</a>
				<div class="reason-status">{% if (reason_status is not empty) %} {{ reason_status }}{% endif %}</div>
				<span class="help">{{ status['date'] }}</span>
			</td>
		</tr>
		<tr class="item-slider children row-status hidden">
			<td></td>
			<td>
				<br />
				<table class="list">
					<thead>
					<tr>
						<td class="left">id</td>
						<td class="left">Статус</td>
						<td class="left">Дата</td>
						<td class="left">Город</td>
					</tr>
					</thead>
					<tbody>
                    {% for row,status_info in status_history %}
						<tr {% if (row == 0) %} {{ 'class="row-status"' }}{% endif %}>
							<td class="left">{{ status_info['status_id'] }}</td>
							<td class="left">
                                {{ status_info['name'] }}
                                {% if (status_info['description']) %}
									<span class="help">{{ status_info['description'] }}</span>
                                {% endif %}
							</td>
							<td class="left">{{ status_info['date'] }}</td>
							<td class="left">{{ status_info['city'] }}</td>
						</tr>
                    {% endfor %}
					</tbody>
				</table>
			</td>
		</tr>
        {% if (delay_history is not empty) %}
			<tr class="item-slider row-warning">
				<td>Причина задержки</td>
				<td>
                    {% if (delay is not empty) %}
						<strong>{{ delay['title'] }}</strong>{% if delay_history|length > 1 %} <a class="js" data-title="История причин задержек">История причин задержек</a>{% endif %}<span class="help">{{ delay['date'] }}</span>
                    {% else %}
						<a class="js" data-title="История изменений">История причин задержек</a>
                    {% endif %}
				</td>
			</tr>
        {% endif %}
        {% if delay_history|length > 1 %}
			<tr class="item-slider children row-warning hidden">
				<td></td>
				<td>
					<br />
					<table class="list">
						<thead>
						<tr>
							<td class="left">id</td>
							<td class="left">Статус</td>
							<td class="left">Дата</td>
						</tr>
						</thead>
						<tbody>
                        {% for row,delay_info in delay_history %}
							<tr>
								<td class="left">{{ delay_info['delay_id'] }}</td>
								<td class="left">{{ delay_info['name'] }}</td>
								<td class="left">{{ delay_info['date'] }}</td>
							</tr>
                        {% endfor %}
						</tbody>
					</table>
				</td>
			</tr>
        {% endif %}
		<tr>
			<td colspan="2">
				<h2>Отправитель</h2>
			</td>
		</tr>
		<tr>
			<td>Город</td>
			<td>{{ dispatch_info['city_name'] }}</td>
		</tr>
		<tr>
			<td>Почтовый индекс</td>
			<td>
                {% if (dispatch_info['city_postcode']) %}
                    {{ dispatch_info['city_postcode'] }}
                {% else %}
					<a class="js sync-row">Синхронизовать</a>
                {% endif %}
			</td>
		</tr>
        {% if (courier is not empty) %}
			<tr class="item-slider row-status">
				<td>Ожидание курьера</td>
				<td>{{ courier['date'] }} c {{ courier['time_beg'] }} до {{ courier['time_end'] }} <a class="js">Подробнее</a></td>
			</tr>
			<tr class="item-slider children row-status hidden">
				<td></td>
				<td>
                    {% if (courier['lunch_beg'] and courier['lunch_end']) %}
						Обед: с {{ courier['lunch_beg'] }} по {{ courier['lunch_end']}}<br />
                    {% endif %}
					<br />
					Город: {{ courier['city_name'] }}<br />
					Улица: {{ courier['address_street'] }}<br />
					Дом, корпус, строение: {{ courier['address_house'] }}<br />
					Квартира/Офис: {{ courier['address_flat'] }}<br />
					<br />
					Отправитель: {{ courier['sender_name'] }}<br />
					Телефон: {{ courier['send_phone'] }}<br />
                    {% if (courier['comment'] != '') %}
						<br />
						Комментарий: {{ courier['comment'] }}
                    {% endif %}
				</td>
			</tr>
        {% endif %}
		<tr>
			<td colspan="2">
				<h2>Получатель</h2>
			</td>
		</tr>
		<tr>
			<td>ФИО</td>
			<td>{{ dispatch_info['recipient_name'] }}</td>
		</tr>
		<tr>
			<td>Телефон</td>
			<td>{{ dispatch_info['phone'] }}</td>
		</tr>
        {% if (dispatch_info['recipient_email']) %}
			<tr>
				<td>Электронный адрес</td>
				<td>{{ dispatch_info['recipient_email'] }}</td>
			</tr>
        {% endif %}
		<tr>
			<td>Город</td>
			<td>{{ dispatch_info['recipient_city_name'] }}</td>
		</tr>
		<tr>
			<td>Почтовый индекс</td>
			<td>
                {% if (dispatch_info['recipient_city_postcode']) %}
                    {{ dispatch_info['recipient_city_postcode'] }}
                {% else %}
					<a class="js sync-row">Синхронизовать</a>
                {% endif %}
			</td>
		</tr>
        {% if (tariff['mode_id'] is not empty) %}
            {% if (tariff['mode_id'] in [1,3] ) %}
				<tr>
					<td>Улица</td>
					<td>{{ dispatch_info['address_street'] }}</td>
				</tr>
				<tr>
					<td>Дом, корпус, строение</td>
					<td>{{ dispatch_info['address_house'] }}</td>
				</tr>
				<tr>
					<td>Квартира/Офис</td>
					<td>{{ dispatch_info['address_flat'] }}</td>
				</tr>
            {% else %}
                {% if (dispatch_info['pvz_info'] is not empty) %}
					<tr>
						<td>
							Пункт выдачи
						</td>
						<td>
							<p>{{ dispatch_info['pvz_info']['Name'] }}{% if (dispatch_info['pvz_info']['x']) %} (<a href="http://maps.google.ru/maps?q={{ dispatch_info['pvz_info']['y'] }},{{ dispatch_info['pvz_info']['x'] }}" target="_blank">на карте</a>){% endif %}</p>
							<span class="help">
					<strong>Адрес</strong>: {{ dispatch_info['pvz_info']['Address'] }}<br />
                                {% if (dispatch_info['pvz_info']['Phone'] is not empty and dispatch_info['pvz_info']['Phone']|trim != '-') %}
									<strong>Телефон</strong>: {{ dispatch_info['pvz_info']['Phone'] }}<br />
                                {% endif %}
                                {% if ( dispatch_info['pvz_info']['WorkTime'] is not empty and dispatch_info['pvz_info']['WorkTime']|trim != '-') %}
									<strong>Режим работы</strong>: {{ dispatch_info['pvz_info']['WorkTime'] }}
                                {% endif %}

					</span>
						</td>
					</tr>
                {% endif %}
            {% endif %}
        {% endif %}
        {% if (cod is not empty or cod_fact is not empty) %}
			<tr>
				<td colspan="2">
					<h2>Наложенный платеж</h2>
				</td>
			</tr>
			<tr>
				<td>Валюта</td>
				<td>{{ currency_cod }}</td>
			</tr>


            {% if (cod is not empty) %}
				<tr>
					<td>Заявленная сумма</td>
					<td>{{ cod }}</td>
				</tr>
            {% endif %}
            {% if (cod_fact is not empty) %}
				<tr>
					<td>Сумма, которую взяли с покупателя</td>
					<td>{{ cod }}</td>
				</tr>
            {% endif %}
        {% endif %}
		</tbody>
	</table>
    {% if (schedule is not empty) %}
		<table>
			<tbody>
			<tr>
				<td colspan="2">
					<h2>Расписание времени доставки</h2>
				</td>
			</tr>
			</tbody>
		</table>
		<table class="form">
			<tbody>
            {% for row,attempt_info in schedule %}
				<tr class="item-slider schedule row-{{ attempt_info['delay'] != '' ? 'warning' : 'status' }}">
					<td>
						<strong>#{% set echo = echo + 1 %}{% set row = 'undefined' %}</strong>
					</td>
					<td>
						<span class="month">{{ attempt_info['date'] }}</span> c {{ attempt_info['time_beg'] }} до {{ attempt_info['time_end'] }}{% if (attempt_info['delay'] != '') %} {{ ' (задержан)' }}{% endif %}{% if (attempt_info['show_more']) %} <a class="js">Подробнее</a>{% endif %}
					</td>
				</tr>
                {% if (attempt_info['show_more']) %}
					<tr class="item-slider schedule children hidden row-{{ attempt_info['delay'] != '' ? 'warning' : 'status' }}">
						<td></td>
						<td>
                            {% if (attempt_info['delay'] != '') %}
								Причина задержки: <strong>{{ attempt_info['delay'] }}</strong><br /><br />
                            {% endif %}
                            {% if (attempt_info['recipient_info'] is not empty) %}
                                {% if (attempt_info['recipient_info']['name'] is not empty) %}
									Новый получатель: {{ attempt_info['recipient_info']['name'] }}<br />
                                {% endif %}
                                {% if (attempt_info['recipient_info']['phone'] is not empty) %}
									Новый телефон получателя: {{ attempt_info['recipient_info']['phone'] }}<br />
                                {% endif %}
								<br />
                            {% endif %}
                            {% if (tariff['mode_id'] is not empty and attempt_info['address_info'] is not empty) %}
								<div class="title-new-address">Новый адрес доставки</div>
                                {% if (tariff['mode_id'] in [1,3] ) %}
									Улица: {{ attempt_info['address_info']['street'] }}<br />
									Дом, корпус, строение: {{ attempt_info['address_info']['house'] }}<br />
                                    {% if (attempt_info['address_info']['flat'] is not empty) %}
										Квартира/Офис: {{ attempt_info['address_info']['flat'] }}<br />
                                    {% endif %}

                                {% elseif (attempt_info['address_info']['pvz_info'] is defined) %}
                                    {% set pvz_info = attempt_info['address_info']['pvz_info'] %}
									<div class="attempt-pvz-wrapper">
										<div class="attempt-pvz-label">ПВЗ:</div>
										<div class="attempt-pvz-value">
                                            {{ pvz_info['Address'] }}
                                            {% if ((pvz_info['WorkTime'] is not empty and pvz_info['WorkTime']|trim != '-') or (pvz_info['Phone'] is not empty and pvz_info['Phone']|trim != '-')) %}
												<span class="help">
									{% if (pvz_info['WorkTime'] is not empty and pvz_info['WorkTime']|trim != '-') %}
                                        {{ 'Режим работы: <strong>' ~ pvz_info['WorkTime'] ~ '</strong><br />' }}
                                    {% endif %}
                                                    {% if (pvz_info['Phone'] is not empty and pvz_info['Phone']|trim != '-') %}
                                                        {{ 'Телефон: <strong>' ~ pvz_info['Phone'] ~ '</strong>' }}
                                                    {% endif %}
								</span>
                                            {% endif %}
										</div>
									</div>
                                {% endif %}
								<br />
                            {% endif %}
                            {% if (attempt_info['comment'] != '') %}
								Комментарий: {{ attempt_info['comment'] }}
                            {% endif %}
						</td>
					</tr>
                {% endif %}
            {% endfor %}
			</tbody>
		</table>
    {% endif %}
    {% if (call_history is not empty) %}
		<table>
			<tbody>
			<tr>
				<td colspan="2">
					<h2>История прозвона получателя</h2>
				</td>
			</tr>
			</tbody>
		</table>
		<table class="form">
			<tbody>
            {% if (call_history['good'] is not empty) %}
				<tr class="item-slider row-status">
					<td>История удачных прозвонов</td>
					<td><a class="js" data-title="Показать">Показать</a></td>
				</tr>
				<tr class="item-slider children row-status hidden">
					<td></td>
					<td>
						<br />
						<table class="list">
							<thead>
							<tr>
								<td class="left">Дата прозвона</td>
								<td class="left">Дата, на которую договорились о доставке/самозаборе</td>
							</tr>
							</thead>
							<tbody>
                            {% for row,call_history_info in call_history['good'] %}
								<tr class="row-status">
									<td class="left">{{ call_history_info['date'] }}</td>
									<td class="left">{{ call_history_info['date_deliv'] }}</td>
								</tr>
                            {% endfor %}
							</tbody>
						</table>
					</td>
				</tr>
            {% endif %}
            {% if (call_history['fail'] is not empty) %}
				<tr class="item-slider row-status">
					<td>История неудачных прозвонов</td>
					<td><a class="js" data-title="Показать">Показать</a></td>
				</tr>
				<tr class="item-slider children row-status hidden">
					<td></td>
					<td>
						<br />
						<table class="list">
							<thead>
							<tr>
								<td class="left">id</td>
								<td class="left">Дата прозвона</td>
								<td class="left">Причина неудачного прозвона</td>
							</tr>
							</thead>
							<tbody>
                            {% for row,call_history_info in call_history['fail'] %}
								<tr class="row-status">
									<td class="left">{{ call_history_info['fail_id'] }}</td>
									<td class="left">{{ call_history_info['date'] }}</td>
									<td class="left">{{ call_history_info['description'] }}</td>
								</tr>
                            {% endfor %}
							</tbody>
						</table>
					</td>
				</tr>
            {% endif %}
            {% if (call_history['delay'] is not empty) %}
				<tr class="item-slider row-status">
					<td>История переносов прозвона</td>
					<td><a class="js" data-title="Показать">Показать</a></td>
				</tr>
				<tr class="item-slider children row-status hidden">
					<td></td>
					<td>
						<br />
						<table class="list">
							<thead>
							<tr>
								<td class="left">Дата прозвона</td>
								<td class="left">Дата, на которую перенесен прозвон</td>
							</tr>
							</thead>
							<tbody>
                            {% for row,call_history_info in call_history['delay'] %}
								<tr class="row-status">
									<td class="left">{{ call_history_info['date'] }}</td>
									<td class="left">{{ call_history_info['date_next'] }}</td>
								</tr>
                            {% endfor %}
							</tbody>
						</table>
					</td>
				</tr>
            {% endif %}
			</tbody>
		</table>
    {% endif %}
	<table>
		<tbody>
		<tr>
			<td colspan="2">
				<h2>Товары</h2>
			</td>
		</tr>
		</tbody>
	</table>
    {% for package_info in packages %}
		<table class="form">
			<tbody>
			<tr>
				<td>Валюта вложения</td>
				<td>{{ currency }}</td>
			</tr>
			<tr>
				<td>Номер места</td>
				<td>{{ package_info['number'] }}</td>
			</tr>
            {% if (package_info['package_size'] is not empty) %}
				<tr>
					<td>Габариты места<span class="help">({{ length_class }})</span></td>
					<td>{{ package_info['package_size'] }}</td>
				</tr>
            {% endif %}
			<tr>
				<td>Вес места<span class="help">({{ weight_class }})</span></td>
				<td>{{ package_info['weight'] }}</td>
			</tr>
			</tbody>
		</table>
		<table class="list">
			<thead>
			<tr>
				<td class="left">Код товара</td>
				<td class="left">Наименование товара</td>
				<td class="left">Вес единицы<span class="help">({{ weight_class }})</span></td>
				<td class="left">Цена за единицу</td>
				<td class="left">Оплата с получателя за единицу</td>
				<td class="left">Количество</td>
				<td class="left">Стоимость</td>
			</tr>
			</thead>
			<tbody>
            {% for package_item in package_info['items'] %}
				<tr>
					<td class="left">{{ package_item['ware_key'] }}</td>
					<td class="left">{{ package_item['comment'] }}</td>
					<td class="left">{{ package_item['weight'] }}</td>
					<td class="left">{{ package_item['cost'] }}</td>
					<td class="left">{{ package_item['payment'] }}</td>
					<td class="left">{{ package_item['amount'] }}</td>
					<td class="left">{{ package_item['total'] }}</td>
				</tr>
            {% endfor %}
			</tbody>
		</table>
    {% endfor %}
    {% if (add_service is not empty) %}
		<table>
			<tbody>
			<tr>
				<td colspan="2">
					<h2>Дополнительные услуги и сборы</h2>
				</td>
			</tr>
			</tbody>
		</table>
		<table class="list">
			<thead>
			<tr>
				<td class="left">Код услуги</td>
				<td class="left">Название</td>
				<td class="left">Стоимость</td>
			</tr>
			</thead>
			<tbody>
            {% for service_info in add_service %}
				<tr>
					<td class="left">{{ service_info['service_id'] }}</td>
					<td class="left">
                        {{ service_info['description'] }}
                        {% if (service_info['service_description'] is not empty) %}
							<span class="help">{{ service_info['service_description'] }}</span>
                        {% endif %}
					</td>
					<td class="left">{{ service_info['price'] }}</td>
				</tr>
            {% endfor %}
			</tbody>
			<tfoot>
			<tr>
				<td colspan="2"></td>
				<td class="left" ><strong>{{ add_service_total }}</strong></td>
			</tr>
			</tfoot>
		</table>
    {% endif %}
	<table class="form">
		<tbody>
        {% if (dispatch_info['comment']) %}
			<tr>
				<td>Комментарий</td>
				<td>{{ dispatch_info['comment'] }}</td>
			</tr>
        {% endif %}
		<tr class="row-status">
			<td>Итого</td>
			<td>
                {% if (delivery_cost) %}
					<strong>{{ delivery_cost }}</strong>
                    {% if (delivery_last_change is not empty) %}
						<span class="help">
					{{ delivery_last_change }}
					</span>
                    {% endif %}
                {% else %}
					<a class="js sync-row">Синхронизовать</a>
                {% endif %}
			</td>
		</tr>
		</tbody>
	</table>
</div>
<script type="text/javascript"><!--

    $('.item-slider a').click(function(event){

        var parent = $(this).closest('tr.item-slider');
        var container = $(parent).next('tr.item-slider.children');

        var action = $(container).is(':visible');

        if (action) {

            $(parent).removeClass('active');

            var title = $(this).data('title');

            if (!title) title = 'Подробнее';

            $(this).text(title);

            $(container).hide();

        } else {

            $(parent).addClass('active');
            $(this).text('Скрыть');
            $(container).show();

        }

    });

    $(".pdf-invoice a.load").live('click', function(event){

        event.preventDefault();

        var self = this;
        var url = $(self).attr('href');
        var context = $(self).closest('.pdf-invoice-wrapper');
        var saved = $(context).html();

        if ($(self).data('is_active') == 1) return FALSE;

        $.ajax({
            url: url,
            dataType: "json",
            beforeSend: function(jqXHR, settings){

                $('.success, .warning, .attention, .error').remove();

                if (!$('.loader', context).length) $(context).html('<img class="loader" src="view/image/cdek_integrator/loader.gif" alt="Загрузка..." title="Загрузка..." />');

                $(self).data('is_active', 1);

            },
            complete: function(jqXHR, textStatus) {
                $(self).data('is_active', 0);
            },
            success: function(json) {

                var type = 'success';

                if (json.status == 'error') {

                    type = 'warning';

                    $(context).html(saved);

                } else {
                    $(context).html('<a href="' + json.file + '" target="_blank">Смотреть</a><a href="' + url + '" class="load" title="Загрузить повторно"><img src="view/image/cdek_integrator/reload.png" /></a>');
                }

                $('.box').before('<div class="' + type + '">' + json.message + '</div>');

            }
        });

    });

    $(".button.sync").live('click', function(event){

        event.preventDefault();

        var self = this;
        var url = $(self).attr('href');
        var context = $(self).closest('.box');

        if ($(self).data('is_active') == 1) return FALSE;

        $.ajax({
            url: url,
            dataType: "json",
            beforeSend: function(jqXHR, settings){

                $('.success, .warning, .attention, .error').remove();

                $(self).text('Синхронизация');

                if (!$('.loader', context).length) $(self).append('<img class="loader" src="view/image/cdek_integrator/loader.gif" alt="Загрузка..." title="Загрузка..." />');

                $(self).data('is_active', 1);

            },
            complete: function(jqXHR, textStatus) {

                $(self).text('Синхронизовать');

                $('.loader', self).remove();

                $(self).data('is_active', 0);

            },
            success: function(json) {

                var type = 'success';

                if (json.status == 'error') {
                    type = 'warning';
                } else {
                    $(context).html(json.content);
                }

                $('.box').before('<div class="' + type + '">' + json.message + '</div>');

            }
        });

    });

    $('a.js.sync-row').live('click', function(event){
        $(".button.sync").trigger('click');
    });

    //--></script>