{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-cdekoption" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <button type="button" onclick="$('#form-cdekoption').attr('action', $('#form-cdekoption').attr('action') + '&redirect=false'); $('#form-cdekoption').submit();" class="btn btn-primary">{{ button_apply }}</button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
          {% for breadcrumb in breadcrumbs %}
            <li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
          {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
      {% if (error_warning) %}
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
      {% endif %}
      {% if (success) %}
        <div class="alert alert-success"><i class="fa fa-exclamation-circle"></i> {{ success }}
          <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
      {% endif %}

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ heading_title }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-cdekoption" class="form-horizontal">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-data" data-toggle="tab">{{ tab_data }}</a></li>
            <li><a href="#tab-auth" data-toggle="tab">{{ tab_auth }}</a></li>
            <li><a href="#tab-order" data-toggle="tab">{{ tab_order }}</a></li>
            <li><a href="#tab-status" data-toggle="tab">{{ tab_status }}</a></li>
            <li><a href="#tab-currency" data-toggle="tab">{{ tab_currency }}</a></li>
            <li><a href="#tab-additional" data-toggle="tab">{{ tab_additional }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-data">

              <div class="form-group required">
                <label class="col-sm-2 control-label" for="setting-city">{{ entry_city }}</label>
                <div class="col-sm-10">
                  <input type="hidden" class="form-control setting-city-id" name="cdek_integrator_setting[city_id]" value="{% if (setting['city_id'] is not empty) %}{{ setting['city_id'] }}{% endif %}"/>

                  <a class="js city-from{% if (setting['city_id'] is empty) %} {{ ' hidden' }}{% endif %}">{% if (setting['city_name'] is not empty) %} {{ setting['city_name'] }}{% endif %}</a>

                  <input type="text" name="cdek_integrator_setting[city_name]" value="{% if (setting['city_name'] is not empty) %}{{ setting['city_name'] }}{% endif %}" class="setting-city-name form-control" style="{% if (setting['city_id'] is not empty) %}{{ 'display:none;' }}{% endif %}" />

                    {% if (error['setting']['city_id'] is defined) %}
                      <div class="text-danger">{{ error['setting']['city_id'] }}</div>
                    {% endif %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="setting-city-default">{{ entry_city_default }}</label>
                <div class="col-sm-10">
                  <select id="setting-city-default" name="cdek_integrator_setting[city_default]" class="form-control">
                      {% for key,value in boolean_variables %}
                        <option {% if (setting['city_default'] is defined and key == setting['city_default']) %} {{ 'selected="selected"' }}{% endif %}value="{{ key }}">{{ value }}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group required">
                <label class="col-sm-2 control-label" for="setting-copy-count">{{ entry_copy_count }}</label>
                <div class="col-sm-10">
                  <select id="setting-copy-count" name="cdek_integrator_setting[copy_count]" class="form-control">
                      {% for value in ['1','2','3','4'] %}
                        <option {% if (setting['copy_count'] is defined and setting['copy_count'] == value) %} {{ 'selected="selected"' }}{% endif %} value="{{ value }}">{{ value }}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group required">
                <label class="col-sm-2 control-label" for="setting-weight-class-id">{{ entry_weight_class_id }}</label>
                <div class="col-sm-10">
                  <select id="setting-weight-class-id" name="cdek_integrator_setting[weight_class_id]" class="form-control">
                      {% for weight_class in weight_classes %}
                        <option value="{{ weight_class['weight_class_id'] }}" {% if (setting['weight_class_id'] is not empty and setting['weight_class_id'] == weight_class['weight_class_id']) %} {{ 'selected="selected"' }}{% endif %}>{{ weight_class['title'] }}</option>
                      {% endfor %}
                  </select>
                    {% if (error['setting']['weight_class_id'] is defined) %}
                      <span class="text-danger">{{ error['setting']['weight_class_id'] }}</span>
                    {% endif %}
                </div>
              </div>

              <div class="form-group required">
                <label class="col-sm-2 control-label" for="setting-length-class-id">{{ entry_length_class_id }}</label>
                <div class="col-sm-10">
                  <select id="setting-length-class-id" name="cdek_integrator_setting[length_class_id]" class="form-control">
                      {% for length_class in length_classes %}
                        <option value="{{ length_class['length_class_id'] }}" {% if (setting['length_class_id'] is not empty and setting['length_class_id'] == length_class['length_class_id']) %} {{ 'selected="selected"' }}{% endif %}>{{ length_class['title'] }}</option>
                      {% endfor %}
                  </select>
                    {% if (error['setting']['length_class_id'] is defined) %}
                      <span class="text-danger">{{ error['setting']['length_class_id'] }}</span>
                    {% endif %}
                </div>
              </div>

            </div>
            <div class="tab-pane" id="tab-auth">
              <div class="form-group">
                <div class="col-sm-12 text-center">
                  <div class="alert alert-info" role="alert">
                    {{ text_testing_api_keys }}
                  </div>
                </div>
              </div>

              <div class="form-group required">
                <label class="col-sm-2 control-label" for="setting-account">{{ entry_account }}</label>
                <div class="col-sm-10">
                  <input id="setting-account" class="form-control" type="text" name="cdek_integrator_setting[account]" value="{% if (setting['account'] is not empty) %}{{ setting['account'] }}{% endif %}" />
                    {% if (error['setting']['account'] is defined) %}
                      <span class="text-danger">{{ error['setting']['account'] }}</span>
                    {% endif %}
                </div>
              </div>

              <div class="form-group required">
                <label class="col-sm-2 control-label" for="setting-secure-password">{{ entry_secure_password }}</label>
                <div class="col-sm-10">
                  <input id="setting-secure-password" class="form-control" type="text" name="cdek_integrator_setting[secure_password]" value="{% if (setting['secure_password'] is not empty) %}{{ setting['secure_password'] }}{% endif %}" />
                    {% if (error['setting']['secure_password'] is defined) %}
                      <span class="text-danger">{{ error['setting']['secure_password'] }}</span>
                    {% endif %}
                </div>
              </div>

            </div>
            <div class="tab-pane" id="tab-order">

              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_new_order_status_id }}</label>
                <div class="col-sm-10">
                  <div class="well well-sm" style="height: 150px; overflow: auto;">
                      {% for order_status in order_statuses %}
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="cdek_integrator_setting[new_order_status_id][]" value="{{ order_status['order_status_id'] }}"  {% if (setting['new_order_status_id'] is not empty and order_status['order_status_id'] in  setting['new_order_status_id']) %} {{ 'checked="checked"' }}{% endif %} />
                              {{ order_status['name'] }}
                          </label>
                        </div>
                      {% endfor %}
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="setting-new-order">{{ entry_new_order }}</label>
                <div class="col-sm-10">
                  <input id="setting-new-order" type="text" class="form-control" name="cdek_integrator_setting[new_order]" value="{% if (setting['new_order'] is not empty) %}{{ setting['new_order'] }}{% endif %}" />
                    {% if (error['setting']['new_order'] is defined) %}
                      <span class="text-danger">{{ error['setting']['new_order'] }}</span>
                    {% endif %}
                </div>
              </div>

                {% if (show_filter) %}
                  <div class="form-group">
                    <label class="col-sm-2 control-label">{{ entry_shipping_methods }}</label>
                    <div class="col-sm-10">
                      <div class="well well-sm" style="height: 150px; overflow: auto;">
                          {% for code,name in shipping_methods %}
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" name="cdek_integrator_setting[shipping_method][]" value="{{ code }}"  {% if (setting['shipping_method'] is not empty and code in setting['shipping_method']) %} {{ 'checked="checked"' }}{% endif %} />
                                  {{ name }}
                              </label>
                            </div>
                          {% endfor %}
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-sm-2 control-label">{{ entry_payment_methods }}</label>
                    <div class="col-sm-10">
                      <div class="well well-sm" style="height: 150px; overflow: auto;">
                          {% for code,name in payment_methods %}
                            <div class="checkbox">
                              <label>
                                <input type="checkbox" name="cdek_integrator_setting[payment_method][]" value="{{ code }}"  {% if (setting['payment_method'] is not empty and code in setting['payment_method']) %} {{ 'checked="checked"' }}{% endif %} />
                                  {{ name }}
                              </label>
                            </div>
                          {% endfor %}
                      </div>
                    </div>
                  </div>
                {% endif %}

            </div>
            <div class="tab-pane" id="tab-status">
              <p class="help">{{ text_help_status_rule }}</p>
              <table class="list table">
                <thead>
                <tr>
                  <td class="left">{{ column_cdek_status }}</td>
                  <td class="left">{{ column_new_status }}</td>
                  <td class="left">{{ column_notify }}</td>
                  <td class="left">{{ column_comment }}</td>
                  <td class="left">{{ column_action }}</td>
                </tr>
                <tbody>
                {% if (setting['order_status_rule'] is not empty) %}
                    {% for row,rule_info in setting['order_status_rule'] %}
                      <tr rel="{{ row }}">
                        <td class="left">
                          <select class="form-control" name="cdek_integrator_setting[order_status_rule][{{ row }}][cdek_status_id]">
                              {% for status_id,cdek_status in cdek_statuses %}
                                <option {% if (rule_info['cdek_status_id'] == status_id) %} {{ 'selected="selected"' }}{% endif %} value="{{ status_id }}">{{ cdek_status['title'] }}</option>
                              {% endfor %}
                          </select>
                        </td>
                        <td class="left">
                          <select class="form-control" name="cdek_integrator_setting[order_status_rule][{{ row }}][order_status_id]">
                              {% for order_status in order_statuses %}
                                <option {% if (rule_info['order_status_id'] == order_status['order_status_id']) %} {{ 'selected="selected"' }}{% endif %} value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
                              {% endfor %}
                          </select>
                        </td>
                        <td class="left">
                          <select class="form-control" id="setting-city-default" name="cdek_integrator_setting[order_status_rule][{{ row }}][notify]">
                              {% for key,value in boolean_variables %}
                                <option {% if (rule_info['notify'] == key) %} {{ 'selected="selected"' }}{% endif %} value="{{ key }}">{{ value }}</option>
                              {% endfor %}
                          </select>
                        </td>
                        <td class="left">
                          <p class="mt-0 link"><a class="js slider">{{ text_tokens }}</a></p>
                          <div class="content" style="display:none">
                            <table class="list token">
                              <thead>
                              <tr>
                                <td width="30%" class="left">{{ column_token }}</td>
                                <td width="70%" class="left">{{ column_value }}</td>
                              </tr>
                              </thead>
                              <tbody>
                              <tr>
                                <td class="left">{dispatch_number}</td>
                                <td class="left">{{ text_token_dispatch_number }}</td>
                              </tr>
                              <tr>
                                <td class="left">{order_id}</td>
                                <td class="left">{{ text_token_order_id }}</td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                          <textarea class="form-control" name="cdek_integrator_setting[order_status_rule][{{ row }}][comment]" rows="3" cols="50">{{ rule_info['comment'] }}</textarea>
                        </td>
                        <td class="left"><a class="btn btn-primary delete">Удалить</a></td>
                      </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
                </thead>
              </table>
              <a class="btn btn-primary" onclick="addStatusRule();">Добавить правило</a>
            </div>
            <div class="tab-pane" id="tab-currency">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="setting-currency">{{ entry_currency }}</label>
                <div class="col-sm-10">
                  <select id="setting-currency" name="cdek_integrator_setting[currency]" class="form-control">
                      {% for key,value in currency_list %}
                        <option {% if (setting['currency'] is defined and setting['currency'] == key) %} {{ 'selected="selected"' }}{% endif %} value="{{ key }}">{{ value }}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="setting-currency-agreement">{{ entry_currency_agreement }}</label>
                <div class="col-sm-10">
                  <select id="setting-currency-agreement" name="cdek_integrator_setting[currency_agreement]" class="form-control">
                      {% for key,value in currency_list %}
                        <option {% if (setting['currency_agreement'] is defined and setting['currency_agreement'] == key) %} {{ 'selected="selected"' }}{% endif %} value="{{ key }}">{{ value }}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>

            </div>
            <div class="tab-pane" id="tab-additional">
              <div class="legend">Общие</div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="setting-replace-items">{{ entry_replace_items }}</label>
                <div class="col-sm-10">
                  <select id="setting-replace-items" name="cdek_integrator_setting[replace_items]" class="form-control toggle" data-toggletarget="#setting-replace-items_params">
                      {% for key,value in boolean_variables %}
                        <option {% if (setting['replace_items'] is defined and setting['replace_items'] == key) %} {{ 'selected="selected"' }}{% endif %} value="{{ key }}">{{ value }}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>

              <div class="toggleTarget" id="setting-replace-items_params" style="display:{{ setting['replace_items'] ? 'block' : 'none' }}">
                <div class="form-group required">
                  <label class="col-sm-2 control-label" for="setting-replace-item-name">{{ entry_replace_item_name }}</label>
                  <div class="col-sm-10">
                    <input class="form-control" id="setting-replace-item-name" type="text" name="cdek_integrator_setting[replace_item_name]" value="{% if (setting['replace_item_name'] is defined) %}{{ setting['replace_item_name'] }}{% endif %}" maxlength="255" />
                      {% if (error['setting']['replace_item_name'] is defined) %}
                        <span class="text-danger">{{ error['setting']['replace_item_name'] }}</span>
                      {% endif %}
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-sm-2 control-label" for="setting-replace-item-cost">{{ entry_replace_item_cost }}</label>
                  <div class="col-sm-10">
                    <input class="form-control" id="setting-replace-item-cost" type="text" name="cdek_integrator_setting[replace_item_cost]" value="{% if (setting['replace_item_cost'] is defined) %}{{ setting['replace_item_cost'] }}{% endif %}" maxlength="255" />
                      {% if (error['setting']['replace_item_cost'] is defined) %}
                        <span class="text-danger">{{ error['setting']['replace_item_cost'] }}</span>
                      {% endif %}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="setting-replace-item-payment">{{ entry_replace_item_payment }}</label>
                  <div class="col-sm-10">
                    <input class="form-control" id="setting-replace-item-payment" type="text" name="cdek_integrator_setting[replace_item_payment]" value="{% if (setting['replace_item_payment'] is defined) %}{{ setting['replace_item_payment'] }}{% endif %}" maxlength="255" />
                      {% if (error['setting']['replace_item_payment'] is defined) %}
                        <span class="text-danger">{{ error['setting']['replace_item_payment'] }}</span>
                      {% endif %}
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 control-label" for="setting-replace-item-amount">{{ entry_replace_item_amount }}</label>
                  <div class="col-sm-10">
                    <input class="form-control" id="setting-replace-item-amount" type="text" name="cdek_integrator_setting[replace_item_amount]" value="{% if (setting['replace_item_amount'] is not empty) %}{{ setting['replace_item_amount'] }}{% endif %}" maxlength="255" />
                      {% if (error['setting']['replace_item_amount'] is defined) %}
                        <span class="text-danger">{{ error['setting']['replace_item_amount'] }}</span>
                      {% endif %}
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="setting-cron">{{ entry_use_cron }}</label>
                <div class="col-sm-10">
                  <select id="setting-cron" name="cdek_integrator_setting[use_cron]" class="form-control">
                      {% for key,value in boolean_variables %}
                        <option {% if (setting['use_cron'] is defined and setting['use_cron'] == key) %} {{ 'selected="selected"' }}{% endif %} value="{{ key }}">{{ value }}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="setting-cod">{{ entry_cod_default }}</label>
                <div class="col-sm-10">
                  <select id="setting-cod" name="cdek_integrator_setting[cod]" class="form-control">
                      {% for key,value in boolean_variables %}
                        <option {% if (setting['cod'] is defined and setting['cod'] == key) %} {{ 'selected="selected"' }}{% endif %} value="{{ key }}">{{ value }}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="setting-delivery-recipient-cost">{{ entry_delivery_recipient_cost }}</label>
                <div class="col-sm-10">
                  <input id="setting-delivery-recipient-cost" type="text" name="cdek_integrator_setting[delivery_recipient_cost]" value="{% if (setting['delivery_recipient_cost'] is not empty) %}{{setting['delivery_recipient_cost'] }}{% endif %}" size="2" class="form-control" />
                    {% if (error['setting']['delivery_recipient_cost'] is defined) %}
                      <span class="text-danger">{{ error['setting']['delivery_recipient_cost'] }}</span>
                    {% endif %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="setting-seller-name">{{ entry_seller_name }}</label>
                <div class="col-sm-10">
                  <input id="setting-seller-name" type="text" name="cdek_integrator_setting[seller_name]" value="{% if (setting['seller_name'] is not empty) %}{{ setting['seller_name'] }}{% endif %}" maxlength="255" class="form-control"/>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label">{{ entry_add_service }}</label>
                <div class="col-sm-10">
                  <div class="well well-sm" style="height: 150px; overflow: auto;">
                      {% for cervice_code,cervice_info in add_cervices %}
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="cdek_integrator_setting[add_service][]" value="{{ cervice_code }}" {% if (setting['add_service'] is not empty and cervice_code in setting['add_service']) %} {{ 'checked="checked"' }}{% endif %} />
                            <span data-toggle="tooltip" title="{{ cervice_info['description'] }}">{{ cervice_info['title'] }}</span>
                          </label>
                        </div>
                      {% endfor %}
                  </div>
                </div>
              </div>

              <div class="legend">Дополнительный вес</div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="setting-packing-min-weight">{{ entry_packing_min_weight }}</label>
                <div class="col-sm-10 form-inline">
                  <input id="setting-packing-min-weight" class="form-control" type="text" name="cdek_integrator_setting[packing_min_weight]" value="{% if (setting['packing_min_weight'] is not empty) %}{{ setting['packing_min_weight'] }}{% endif %}" size="1" />
                  <select name="cdek_integrator_setting[packing_weight_class_id]" class="form-control">
                      {% for weight_class in weight_classes %}
                        <option value="{{ weight_class['weight_class_id'] }}" {% if (setting['packing_weight_class_id'] is not empty and setting['packing_weight_class_id'] == weight_class['weight_class_id']) %} {{ 'selected="selected"' }}{% endif %}>{{ weight_class['title'] }}</option>
                      {% endfor %}
                  </select>
                    {% if (error['setting']['packing_min_weight'] is defined) %}
                      <span class="text-danger">{{ error['setting']['packing_min_weight'] }}</span>
                    {% endif %}
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-2 control-label" for="setting-packing-value">{{ entry_packing_additional_weight }}</label>
                <div class="col-sm-10 form-inline">
                  <select name="cdek_integrator_setting[packing_prefix]" class="form-control">
                      {% for prefix in ['+','-'] %}
                        <option {% if (setting['packing_prefix'] is not empty and setting['packing_prefix'] == prefix) %} {{ 'selected="selected"' }}{% endif %} value="{{ prefix }}">{{ prefix }}</option>
                      {% endfor %}
                  </select>
                  <input class="form-control" id="setting-packing-value" type="text" name="cdek_integrator_setting[packing_value]" value="{% if (setting['packing_value'] is not empty) %}{{ setting['packing_value'] }}{% endif %}" size="1" />
                  <select class="form-control" name="cdek_integrator_setting[packing_mode]">
                      {% for key,value in additional_weight_mode %}
                        <option {% if (setting['packing_mode'] is not empty and setting['packing_mode'] == key) %} {{ 'selected="selected"' }}{% endif %} value="{{ key }}">{{ value }}</option>
                      {% endfor %}
                  </select>
                    {% if (error['setting']['packing_value'] is defined) %}
                      <span class="text-danger">{{ error['setting']['packing_value'] }}</span>
                    {% endif %}
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<style>
  .token_dropdown{
    display: none;
  }
  .token_dropdown.open{
    display: block;
  }
</style>
<script type="text/javascript">
    $('body').on('click','a.btn.delete', function(){
        $(this).closest('tr').remove();
    });

    function addStatusRule() {

        var row = exists = -1;

        $('#tab-status table.list tr[rel]').each(function(){

            var rel = $(this).attr('rel');

            if (rel > row) {
                row = rel;
            }

        });

        row++;

        var html = '<tr rel="' + row + '">';
        html += ' <td class="left">';
        html += '   <select class="form-control" name="cdek_integrator_setting[order_status_rule][' + row + '][cdek_status_id]">';
        {% for status_id,cdek_status in cdek_statuses %}
        html += '     <option value="{{ status_id }}">{{ cdek_status['title'] }}</option>';
        {% endfor %}
        html += '   </select>';
        html += ' </td>';
        html += ' <td class="left">';
        html += '   <select class="form-control" name="cdek_integrator_setting[order_status_rule][' + row + '][order_status_id]">';
        {% for order_status in order_statuses %}
        html += '     <option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>';
        {% endfor %}
        html += '   </select>';
        html += ' </td>';
        html += ' <td class="left">';
        html += '   <select class="form-control" id="setting-city-default" name="cdek_integrator_setting[order_status_rule][' + row + '][notify]">';
        {% for key,value in boolean_variables %}
        html += '   <option value="{{ key }}">{{ value }}</option>';
        {% endfor %}
        html += '   </select>';
        html += ' </td>';
        html += ' <td class="left">';
        html += '   <p class="mt-0 link">';
        html += '     <a class="js slider" data-toggle="dropdown" data-target="#token_dropdown'+ row+'">{{ text_tokens }}</a>';
        html += '   </p>';
        html += '   <div class="content token_dropdown" id="token_dropdown'+ row + '" >';
        html += '     <table class="list token">';
        html += '       <thead>';
        html += '         <tr>';
        html += '           <td width="30%" class="left">{{ column_token }}</td>';
        html += '           <td width="70%" class="left">{{ column_value }}</td>';
        html += '         </tr>';
        html += '       </thead>';
        html += '       <tbody>';
        html += '         <tr>';
        html += '           <td class="left">{dispatch_number}</td>';
        html += '           <td class="left">{{ text_token_dispatch_number }}</td>';
        html += '         </tr>';
        html += '         <tr>';
        html += '           <td class="left">{order_id}</td>';
        html += '           <td class="left">{{ text_token_order_id }}</td>';
        html += '         </tr>';
        html += '       </tbody>';
        html += '     </table>';
        html += '   </div>';
        html += '   <textarea class="form-control" name="cdek_integrator_setting[order_status_rule][' + row + '][comment]" rows="3" cols="50"></textarea>';
        html += ' </td>';
        html += ' <td class="left"><a class="btn btn-primary delete">Удалить</a></td>';
        html += '</tr>';

        $('#tab-status table.list tbody:first').append(html);
    }
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $(".setting-city-name:not(.ui-autocomplete-input)").each(function(){

            var context = $(this).closest('div');

            $(this).autocomplete({
                source: function(request,response) {
                    $.ajax({
                        url: 'index.php?route=extension/module/cdek_integrator/getCityByName&user_token={{ token }}&q=' +  encodeURIComponent(request),
                        dataType: "json",
                        beforeSend:function(data){
                        },
                        success: function(data) {
                            if(data) {

                                response($.map(data, function(item) {
                                    return {
                                        label: item.name,
                                        value: item.name,
                                        id: item.id
                                    }
                                }));
                            }

                        }
                    });

                },
                minLength: 12,
                select: function(event) {
                    $('.setting-city-id', context).parent().find('.error').remove();
                    $('.setting-city-id', context).val(event.id);
                    $('.setting-city-name', context).val(event.value);
                    $('.js.city-from', context).text(event.label).show();
                    $('.setting-city-name', context).hide();
                    $('a.js.city-from ').removeClass('hidden');
                    $('.setting-city-name', context).trigger('cityselect');

                    $('.setting-city-id', context).trigger('change');

                }
            });

        });
    });
</script>

{{footer}}