{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-settings" data-toggle="tooltip" title="{{ button_save }}"
                        class="btn btn-primary">
                    <i class="fa fa-save"></i>
                </button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default">
                    <i class="fa fa-reply"></i>
                </a>
            </div>
            <h1>{{ heading_title_setting }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row yandex-taxi-delivery-warehouse-index-container">
            <div class="col-md-12">
                <a class="btn btn-info" href="{{ warehouses_index_url }}">{{ button_index_warehouse }}</a>
                <a class="btn btn-info" href="{{ orders_index_url }}">{{ button_index_orders }}</a>
            </div>
        </div>
        {% if error %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i>
                {{ error }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-exclamation-circle"></i>
                {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
            </div>
            <div class="panel-body">
                <div class="alert alert-warning" role="alert">{{ warning_wrong_dimension_alert }}</div>
                {{ message }}
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-settings"
                      class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="input-status">{{ entry_status }}</label>
                        <div class="col-sm-8">
                            <select name="shipping_yandextaxi_status" id="input-status" class="form-control">
                                {% if shipping_yandextaxi_status %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="input-yandex-taxi-api-token">
							<span data-toggle="tooltip" title="{{ help_yandex_taxi_api_token }}">
							{{ entry_yandex_taxi_api_token }}
                        </label>
                        <div class="col-sm-8">
                            <input
                                    id="input-yandex-taxi-api-token"
                                    type="text"
                                    name="shipping_yandextaxi_api_token"
                                    value="{{ shipping_yandextaxi_api_token }}"
                                    class="form-control"
                            />
                            <div class="row top-space-10">
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                            data-target="#create-cabinet-modal">
                                        {{ connect_yandex_go_delivery_button }}
                                    </button>
                                    <p class="top-space-10">{{ connect_yandex_go_delivery_text }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="input-yandex-geo-coder-api-token">
							<span data-toggle="tooltip" title="{{ help_yandex_geo_coder_api_token }}">
							{{ entry_yandex_geo_coder_api_token }}
                        </label>
                        <div class="col-sm-8">
                            <input
                                    id="input-yandex-geo-coder-api-token"
                                    type="text"
                                    name="shipping_yandextaxi_geo_coder_api_token"
                                    value="{{ shipping_yandextaxi_geo_coder_api_token }}"
                                    class="form-control"
                            />
                            <div class="row top-space-10">
                                <div class="col-sm-12">
                                    <a class="btn btn-primary"
                                       href="view/javascript/yandextaxi/assets/geocoder-instruction.pdf"
                                       target="_blank">
                                        {{ how_get_geocode_token }}
                                    </a>
                                    <p class="top-space-10">
                                        <a href="https://developer.tech.yandex.ru/services/"
                                          target="_blank"
                                        >{{ how_get_geocode_token_link_title }}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="input-assembly-delay-minutes">
							<span data-toggle="tooltip" title="{{ help_assembly_delay_minutes }}">
							{{ entry_assembly_delay_minutes }}
                        </label>
                        <div class="col-sm-8">
                            <select
                                    id="input-assembly-delay-minutes"
                                    name="shipping_yandextaxi_assembly_delay_minutes"
                                    class="form-control"
                            >
                                {% for value, text in assembly_minutes %}
                                    {% if shipping_yandextaxi_assembly_delay_minutes == value %}
                                        <option value="{{ value }}" selected="selected">{{ text }}</option>
                                    {% else %}
                                        <option value="{{ value }}">{{ text }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="input-hide-on-checkout">
                            {{ entry_change_status }}
                        </label>
                        <div class="col-sm-8">
                            <select
                                    id="input-hide-on-checkout"
                                    class="form-control"
                                    name="shipping_yandextaxi_change_status"
                            >
                                {% if shipping_yandextaxi_change_status %}
                                    <option value="1" selected="selected">{{ text_yes }}</option>
                                    <option value="0">{{ text_no }}</option>
                                {% else %}
                                    <option value="1">{{ text_yes }}</option>
                                    <option value="0" selected="selected">{{ text_no }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="input-tax-class">{{ entry_tax_class }}</label>
                        <div class="col-sm-8">
                            <select name="shipping_yandextaxi_tax_class_id" id="input-tax-class" class="form-control">
                                <option value="0">{{ text_none }}</option>
                                {% for tax_class in tax_classes %}
                                    {% if tax_class.tax_class_id == shipping_yandextaxi_tax_class_id %}
                                        <option value="{{ tax_class.tax_class_id }}"
                                                selected="selected">{{ tax_class.title }}</option>
                                    {% else %}
                                        <option value="{{ tax_class.tax_class_id }}">{{ tax_class.title }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
                        <div class="col-sm-8">
                            <select name="shipping_yandextaxi_geo_zone_id" id="input-geo-zone" class="form-control">
                                <option value="0">{{ text_all_zones }}</option>
                                {% for geo_zone in geo_zones %}
                                    {% if geo_zone.geo_zone_id == shipping_yandextaxi_geo_zone_id %}
                                        <option value="{{ geo_zone.geo_zone_id }}"
                                                selected="selected">{{ geo_zone.name }}</option>
                                    {% else %}
                                        <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                        <div class="col-sm-8">
                            <input
                                    type="text"
                                    name="shipping_yandextaxi_sort_order"
                                    value="{{ shipping_yandextaxi_sort_order }}"
                                    id="input-sort-order"
                                    class="form-control"
                            />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="input-shipping_yandextaxi_cart_enabled">
                            {{ entry_shipping_yandextaxi_cart_enabled }}
                        </label>
                        <div class="col-sm-8">
                            <select name="shipping_yandextaxi_cart_enabled" id="input-shipping_yandextaxi_cart_enabled" class="form-control">
                                {% if shipping_yandextaxi_cart_enabled %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                            <p class="top-space-10">{{ shipping_yandextaxi_cart_enabled_description }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="input-shipping_yandextaxi_cart_shipping_method_title">
                            {{ entry_shipping_yandextaxi_cart_shipping_method_title }}
                        </label>
                        <div class="col-sm-8">
                            <select
                                    name="shipping_yandextaxi_cart_shipping_method_title"
                                    id="input-shipping_yandextaxi_cart_shipping_method_title"
                                    class="form-control"
                            >
                                {% for key, option in title_options %}
                                    <option value="{{ key }}" {{ (shipping_yandextaxi_cart_shipping_method_title == key) ? 'selected' }}>
                                        {{ option }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="input-shipping_yandextaxi_free_shipping_enabled">
                            {{ entry_shipping_yandextaxi_free_shipping_enabled }}
                        </label>
                        <div class="col-sm-8">
                            <select
                                name="shipping_yandextaxi_free_shipping_enabled"
                                id="input-shipping_yandextaxi_free_shipping_enabled"
                                class="form-control"
                            >
                                {% if shipping_yandextaxi_free_shipping_enabled %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="input-shipping_yandextaxi_free_shipping_value">
                            {{ entry_shipping_yandextaxi_free_shipping_value }}
                        </label>
                        <div class="col-sm-8">
                            <input
                                    id="input-shipping_yandextaxi_free_shipping_value"
                                    type="number"
                                    min="0"
                                    name="shipping_yandextaxi_free_shipping_value"
                                    value="{{ shipping_yandextaxi_free_shipping_value }}"
                                    class="form-control"
                            />
                            <p class="top-space-10">{{ entry_shipping_yandextaxi_free_shipping_value_description }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="input-shipping_yandextaxi_fixed_shipping_enabled">
                            {{ entry_shipping_yandextaxi_fixed_shipping_enabled }}
                        </label>
                        <div class="col-sm-8">
                            <select
                                name="shipping_yandextaxi_fixed_shipping_enabled"
                                id="shipping_yandextaxi_fixed_shipping_enabled"
                                class="form-control"
                            >
                                {% if shipping_yandextaxi_fixed_shipping_enabled %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="input-shipping_yandextaxi_fixed_shipping_value">
                            {{ entry_shipping_yandextaxi_fixed_shipping_value }}
                        </label>
                        <div class="col-sm-8">
                            <input
                                    id="input-shipping_yandextaxi_fixed_shipping_value"
                                    type="number"
                                    min="0"
                                    name="shipping_yandextaxi_fixed_shipping_value"
                                    value="{{ shipping_yandextaxi_fixed_shipping_value }}"
                                    class="form-control"
                            />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="input-shipping_yandextaxi_extra_charge_shipping_value">
                            {{ entry_shipping_yandextaxi_extra_charge_shipping_value }}
                        </label>
                        <div class="col-sm-8">
                            <input
                                    id="input-shipping_yandextaxi_extra_charge_shipping_value"
                                    type="number"
                                    min="0"
                                    max="100"
                                    name="shipping_yandextaxi_extra_charge_shipping_value"
                                    value="{{ shipping_yandextaxi_extra_charge_shipping_value }}"
                                    class="form-control"
                            />
                            <p class="top-space-10">{{ entry_shipping_yandextaxi_extra_charge_shipping_value_description }}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="input-shipping_yandextaxi_discount_shipping_enabled">
                            {{ entry_shipping_yandextaxi_discount_shipping_enabled }}
                        </label>
                        <div class="col-sm-8">
                            <select
                                name="shipping_yandextaxi_discount_shipping_enabled"
                                id="input-shipping_yandextaxi_discount_shipping_enabled"
                                class="form-control"
                            >
                                {% if shipping_yandextaxi_discount_shipping_enabled %}
                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                    <option value="0">{{ text_disabled }}</option>
                                {% else %}
                                    <option value="1">{{ text_enabled }}</option>
                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="input-shipping_yandextaxi_discount_shipping_value">
                            {{ entry_shipping_yandextaxi_discount_shipping_value }}
                        </label>
                        <div class="col-sm-8">
                            <input
                                    id="input-shipping_yandextaxi_discount_shipping_value"
                                    type="number"
                                    min="0"
                                    max="100"
                                    name="shipping_yandextaxi_discount_shipping_value"
                                    value="{{ shipping_yandextaxi_discount_shipping_value }}"
                                    class="form-control"
                            />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label" for="input-shipping_yandextaxi_discount_shipping_from">
                            {{ entry_shipping_yandextaxi_discount_shipping_from }}
                        </label>
                        <div class="col-sm-8">
                            <input
                                    id="input-shipping_yandextaxi_discount_shipping_from"
                                    type="number"
                                    min="0"
                                    name="shipping_yandextaxi_discount_shipping_from"
                                    value="{{ shipping_yandextaxi_discount_shipping_from }}"
                                    class="form-control"
                            />
                            <p class="top-space-10">{{ entry_shipping_yandextaxi_discount_shipping_value_description }}</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        {{ support_contact }}
    </div>
    <script src="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
    <link href="view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet"
          media="screen"/>
    <script type="text/javascript"><!--
        $('.date').datetimepicker({
            language: '{{ datepicker }}',
            pickTime: false
        });
        //--></script>
</div>
{{ footer }}
{{ cabinet_modal }}
